footer {
    background-color: rgb(95, 93, 93);
    padding-top: 15px;
    padding-bottom: 10px;
}

footer > p {
    font-size: 80%;
    text-align: center;
    letter-spacing: 1pt;
    margin-bottom: 10px;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > div > p {
    font-size: 70%;
    text-align: center;
    letter-spacing: 1pt;
}